<footer class="text-center">
    <div class="text-center p-4">
        Copyright &copy; {{ currentTime.getFullYear() }} <a class="text-reset fw-bold text-decoration-none" target="_blank" href="https://megaads.vn/">MegaAds</a>. All rights reserved.
    </div>
</footer>